
/* header{

    background-color: black;
    color: whitesmoke;
  position: absolute;
    margin-bottom: 15px;
    top: 1%;
    width: 100%;
    clear: both;
    margin-left: 0%;
    left: 0;

  
  
  
  }
  
  
  
  header h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    position: absolute;
    top: 10px;
    left: 750px;
    display: inline;
  
  
  }
  
  
  
  
  #nav-header ul li {
    display: inline-block;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    
  }
  
  
  #nav-header ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #nav-header ul li a:hover {
   color: red;
  }
  
  
  #nav-header ul li:first-child {
    
    background-color: whitesmoke;
    float: right;
    padding: 20px;
    position: relative;
    top: -18px;
    right: 10px;
  }
  */

header{
    position: absolute;
    top: 0%;
    width: 100%;
}

#msa-team{
    color: rgb(233, 18, 18);
    margin-left:40%;
    margin-top: -50%;
  
  }
  
  body{
      background-color: rgb(29, 25, 25);
      position: relative;
    margin-left:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 300vh;
  }
  body main{
      position: relative;
      left: 5%;
      height: -500px;
  }
  body main h1{
position: relative;
left: -140px;
bottom: 30px;
font-size: 50px;
top: 180px;

  }
  .my-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    top: 200px;
  }
  .my-container .my-box{
      margin-left: 70px;
      margin-bottom: 50px;
      position: relative;
      width: 275px; 
      height: 275px ;
      overflow: hidden;
      transition: 0.5s;
  }
  .my-container .my-box:hover{
      z-index: 1;
      transform:scale(1.25);
      box-shadow: 0 25px 40px rgba(0 , 0, 0, .5);
      border-radius: 50px;

  }
.my-container .my-box .imgbox:before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg,#f00,#000) ;
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}

.my-container .my-box:hover .imgbox:before{
opacity: 1;

}

  .my-container .my-box .imgbox img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;

  }
  .my-container .my-box .mycontent{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      padding: 20px;
      align-items: flex-end;

  }
  .my-container .my-box .mycontent h2{
      color: #fff;
      transition: 0.5s;
      text-transform: uppercase;
      margin-bottom:150px ;
      font-size: 20px;
      transform:translateY(200px) ;
  }
  .my-container .my-box:hover .mycontent h2{
    transform:translateY(0) ;
    transition-delay: 0.5s;

  }
  .my-container .my-box .mycontent p{
      color: #fff;
      transform: translateY(200px);
      transition: 1.4s;
      font-size: 12px;
      position: relative;
      top: -90px;
      right: 120px;

  }
  .my-container .my-box:hover .mycontent p{

    transform:translateY(0) ;
    transition-delay: 0.9s;

  }
  #footerAbout{
      clear: both;
      position: absolute;
      width: 100%;
      bottom: -600px;
  }
  
  #wepid{
      position: absolute;
      width: 600px;
      height: 600px;
      top: 400px;
      left: 200px;
      border-radius: 50px;
  }
  .gg{
      position: relative;
    left: -160px; 
    }
    #alltime{
        position: relative;
        top: 250px;
        left: 400px;
        color: rgb(233, 18, 18);
    }