body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
/* body main{ */



body:before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	/* background-image: url(https://image.freepik.com/free-vector/movie-time-neon-sign-popcorn-bucket-clapperboard-film-reel-poster_1262-13530.jpg); */
	/* background-image: url(https://image.freepik.com/free-photo/arrangement-film-elements-red-background-with-copy-space_23-2148457861.jpg); */
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	/* -webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	filter: blur(5px); */
}
#sfrom{
	clear: both;
    position: absolute;
	top: 120px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 450px;


	height: 500px;

	padding: 80px 40px;
/* background:rgb(240, 240, 240) */
background-color: whitesmoke;
 /* background-image:url(https://ak.picdn.net/shutterstock/videos/1042121761/thumb/1.jpg) ; */
 box-shadow: 10px 10px 40px 20px #CDC7FF;
 /* border-top-left-radius: 100px;
 border-bottom-right-radius: 100px; */
 border-bottom-left-radius: 100px;
 border-top-right-radius: 100px;


	/* background-size: cover;
	-webkit-filter: blur(1px);
	-moz-filter: blur(10px);
	filter: blur(1px); */
}
#parentForm{
	position: relative;
	top: 200px;

}

#avatar{
    position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 30%;
	
	top: calc(-80px/2);
	left: 220px;
	animation-name: example;
	animation-duration: 4s;
	animation-direction: reverse;

}
#avatar:hover {
	/* Start the shake animation and make the animation last for 0.5 seconds */
	animation: shake 0.5s;
  
	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
  }
  
  @keyframes shake {
	0% { transform: translate(1px, 1px) rotate(-1deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


/* 
h3{
    margin: 0;
	padding: 0 0 20px;
	color: black;
	text-align: center;
	text-transform: uppercase;
    font-family: 'Playfair Display', serif;
} */
label{
    margin: 0;
	padding: 0;
	font-weight: bold;
	


	
	
	
		/* font-size: 20px;
		color: rgb(193, 20, 199);
		text-align: center;
		-webkit-animation: label 1s ease-in-out infinite alternate;
		-moz-animation: label 1s ease-in-out infinite alternate;
		animation: label 1s ease-in-out infinite alternate;
	  }
	  
	  @-webkit-keyframes label {
		from {
		  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #605ab9, 0 0 40px #434253, 0 0 50px #434253, 0 0 60px #434253, 0 0 70px #434253;
		}
		to {
		  text-shadow: 0 0 20px #fff, 0 0 30px #A49FCC, 0 0 40px #A49FCC, 0 0 50px #A49FCC, 0 0 60px #A49FCC, 0 0 70px #A49FCC, 0 0 80px #A49FCC;
		}
	  }
    /* font-family: 'Playfair Display', serif; */
	}


#submit{
	 margin-left: 300px;
	width: 100px;
	height: 50px;

	padding: 15px 25px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:rgb(228, 44, 44);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px whitesmoke;
top: 70px;
margin-bottom: 5px;
}
#submit:hover{
	 background-color:rgb(223, 151, 151); 
	 box-shadow: 0 0 10px orangered, 0 0 40px orangered, 0 0 80px orangered;

}


input[type=text]:focus {
	border: 3px solid  rgb(228, 44, 44);
	
  } 

  
input[type=number]:focus {
	border: 3px solid  rgb(228, 44, 44);
  } 
  input[type=text], select {
	width: 95%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	

  }

    input[type=number], select {
	width: 95%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }

  
  
 hr {
	height: 30px;
	border-style: solid;
	border-color: black;
	border-width: 1px 0 0 0;
	border-radius: 20px;
	}
	

	hr:before{
		
			display: block;
			content: "";
			height: 30px;
			margin-top: -31px;
			border-style: solid;
			border-color: black;
			border-width: 0 0 1px 0;
			border-radius: 20px;
		
	}

	typeId{
		text-transform: lowercase;
	}
	/* h3 {
		font-size: 10px;
		color: #fff;
		text-align: center;
		-webkit-animation: glow 1s ease-in-out infinite alternate;
		-moz-animation: glow 1s ease-in-out infinite alternate;
		animation: glow 1s ease-in-out infinite alternate;
	  }
	  
	  @-webkit-keyframes h3 {
		from {
		  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
		}
		to {
		  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
		}
	  } */
	 footer{
		 position: absolute;
		 bottom:-500px;
		 width: 100%;
	 }