@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Oswald:wght@300&family=Poiret+One&display=swap');


#s{
    padding-bottom: 0px;
    width: 100%;
    margin: 0%;
    background-color: #642541 ;
    border-collapse:collapse;
}
#s tr{
width: 100%;
border-bottom: 5px groove #160113;
}
#s #last {
position: relative;
/* bottom: 30px; */
/* right: -40px; */
font-size: 25px;
}
#s #last2 {
    /* position: relative; */
    /* bottom: 30px; */
    left: -150px;
    font-size: 25px;

}
.delete {
    /* position: fixed; */
    /* bottom: 30px; */
    right: 30px !important;
    background-color: #160113 !important;

}

/* #last2 ,.delete{
    float: right;
    margin-right: 3000px;
}  */

#s tr td{
 font-size: 20px;
 color: rgb(221, 204, 204);
}

#s img{
    width: 100px;
    height: 150px;
    margin-bottom: -3px;
    margin-left: 10px;
	border: 5px solid #e9e5fa;
    margin-top: 5px;
}
 #s button{
   position: relative;
   width: 40px;
   height: 30px;
   bottom: 70px;
   cursor: pointer;

} 



#clearAll{
position: relative; 
right: -930px;
width: 100px;
height:45px;
font-weight: bolder;
 font-size: 18px;
 text-align: left;
 cursor: pointer;
 outline: none;
 color: rgb(247, 244, 246);
  background-color:#160113; 
text-align: center;
 border: none;
 border-radius: 15px;
 box-shadow: 0 5px whitesmoke;
top: 20px;
margin-bottom: 20px;/* margin-top: 0px; */
margin-left: 260px;
}
#clearAll:hover{
    background-color:rgb(39, 8, 29); 
    box-shadow: 0 0 10px  rgb(36, 1, 37), 0 0 40px  rgb(30, 2, 31) 0 0 80px rgb(35, 4, 36);

}

body header h1{
    
  font-family: 'Coda Caption', sans-serif;
}