@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Oswald:wght@300&family=Poiret+One&display=swap');


*{
    box-sizing: border-box;
}


body{
    background: #C1C8E4  !important;

		margin: 0 !important;
   
    
}
#s{
    /* width: 100%; */
    padding-bottom: 0px;
    width: 100%;
    margin: 0%;
    background-color: rgb(116, 80, 177) ;
    border-collapse: collapse;
    


}
#s tr{
/* background-color: rgba(36,15,73,1) ; */
width: 100%;
border-bottom: 5px solid rgb(174, 214, 28);
}
#s #last {
position: relative;
/* bottom: 30px; */
/* right: -40px; */
font-size: 25px;
}
#s #last2 {
    /* position: relative; */
    /* bottom: 30px; */
    left: -150px;
    font-size: 25px;

}
.delete {
    /* position: fixed; */
    /* bottom: 30px; */
    right: -100px;

}

/* #last2 ,.delete{
    float: right;
    margin-right: 3000px;
}  */

#s tr td{
 /* padding-right: 50px; */
 font-size: 20px;
 color: rgb(221, 204, 204);
 /* padding-bottom: 7px;  */
}

#s img{
    /* position:relative; */
    /* padding-right: 20px; */
    width: 100px;
    height: 150px;
    margin-bottom: 0px;
    margin-left: 10px;
    /* padding-right: 20px; */
    /* padding-bottom:0px;
    
    margin-bottom: 0px; */
}
#s button{
   position: relative;
   right: -50px;
   width: 40px;
   /* padding-left: 4px; */
   height: 30px;
   bottom: 70px;
   background-color:rgb(92, 30, 107);   
   

}




/* #clearAll{
    position: relative;
    right: -1150px;
    text-decoration: none;
    width: 90px;
    height: 25px;    
    background-color: rgb(252, 160, 206);
} */

#clearAll{
     position: relative; 
     right: -900px;
     margin-left: 800px; 
   width: 100px;
   height:45px;
font-weight: bolder;
   /* padding: 15px 25px; */
 font-size: 18px;
 text-align: left;
 cursor: pointer;
 outline: none;
 color: rgb(247, 244, 246);
  background-color:rgb(119, 78, 165); 
text-align: center;
 border: none;
 border-radius: 15px;
 box-shadow: 0 5px whitesmoke;
top: 70px;
/* margin-top: 0px; */
margin-left: 260px;
}
#clearAll:hover{
    background-color:rgb(39, 8, 29); 
    box-shadow: 0 0 10px  rgb(36, 1, 37), 0 0 40px  rgb(30, 2, 31) 0 0 80px rgb(35, 4, 36);

}

body header h1{
    
  font-family: 'Coda Caption', sans-serif;
}