
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&display=swap');
*{
	box-sizing:border-box !important;
	margin: 0;
  }
  
  body{
	/* background: rgb(36,15,73);
	background: linear-gradient(90deg, rgba(36,15,73,1) 35%, rgba(75,27,97,1) 75%, rgba(110,54,135,1) 100%);
	margin: 0; */
	/* background: linear-gradient(90deg, rgba(36,15,73,1), rgba(75,27,97,1), rgba(110,54,135,1),rgba(110,54,135,1)); */
	background-size: 400% 400%;
	background: #A4B3B6  !important;


  }

/*  anime slide show  */

#anime{
	position: absolute;
	top: 900px;
}
#anime-footer{
	position: absolute;
	bottom: -3500px;
	width: 100%;
}

.slidershow {
	width: 1000px;
	height: 600px;
	overflow: hidden;
	clear: both;
	margin-top: 50px;
	margin-bottom: 50px;
}

.middel{
	position: absolute;
	top: 450px;
	left: 50%;
	transform: translate(-50%,-50%);
}

.navigation{
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.bar{
	width: 50px;
	height: 10px;
	border: 2px solid #fff;
	margin: 6px;
	cursor: pointer;

}


.bar:hover{
	background-color: whitesmoke;
}

input[name="r"]{
	position: absolute;
	visibility: hidden;
}

.slides{
	width: 500%;
	height: 100%;
	display: flex;
}

.slide{

	width: 20%;
	transition: 0.6s;

}

.slide img{

	width: 100%;
	height: 100%;

}

#r1:checked ~ .s1{
	margin-left: 0;
}

#r2:checked ~ .s1{
	margin-left: -20%;
}

#r3:checked ~ .s1{
	margin-left: -40%;
}

#r4:checked ~ .s1{
	margin-left: -60%;
}

#r5:checked ~ .s1{
	margin-left: -80%;
}




/*** Generated Box ***/

.box1{
	width: 100px;
	height: 100px;
	border-width: 1.5px;
	z-index: auto;
}		 
.sortContainer ul{
	
    margin-bottom: 50px;
	
	
}
.sortContainer ul li{
	display: inline-block;
	position: relative;
	
	
}
.sortContainer ul li a{
	display: inline-block;
color: cornsilk;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: bolder;
	height: 60px;
	width: 100px;
	padding: 15px;
	transition: all ease 0.3s;
	font-size: 25px ;
	background-image: url('https://ak.picdn.net/shutterstock/videos/1013608700/thumb/1.jpg?ip=x480');
	border-radius: 90px;
	/* background-color:rgb(241, 233, 233);  */
	box-shadow: 0 0 9px rgb(177, 95, 177), 0 0 20px rgb(214, 187, 214), 0 0 40px  rgb(214, 187, 214);

}
.sortContainer ul li a:hover{
	background-color:purple;
	color: red !important;
}



.sortContainer ul li.selection ul{
	/* background-color: #fff; */
	position: absolute;
	left: 0;
	padding-left: 0;
	min-width: 180px;
	display: none;
	
}
.sortContainer ul li.selection ul li a{
	color: white;
	width: 180px;
	
}
.sortContainer ul li.selection:hover ul{
	display: block;
}
/*****************Video******************/
/* section .videoSection{
} */
video{
	position: relative;
	left: 170px;
	/* width: auto; */
    margin-bottom: 50px;
    clear: both;
	margin-left: 120px;
}
/*****************MoviesItems******************/
.checked {
	color: orange;
}

.stars{
	position: relative;
	float: right;
	bottom: 35px;
}


#movies div,#anime div,#series div{
	
		margin-bottom: 15px;
		padding: 10px;
		float: left;
		 margin-left: 100px;
		box-shadow:0 20px 50px rgba(0, 0, 0, 0.5px);
		/* border: 2px solid rgba(128, 72, 111, 0.315); */
		border-radius: 10px;
		transition: 0.5s;
		background-image: url('https://ak.picdn.net/shutterstock/videos/1013608700/thumb/1.jpg?ip=x480');
		 /* background-color: rgb(119, 70, 95); */
		width: 305px; 
		height: 400px;
}

	
#movies div:hover,#anime div:hover,#series div:hover{
	
	
	box-shadow: 0 0 10px blue, 0 0 40px , 0 0 80px rgb(150, 193, 241);
		/* box-shadow:0 40px 70px rgba(0, 0, 0, 0.5px); */
		transform: translateY(-30px);

}



#movies div img:hover,#anime div img:hover,#series div img:hover{
    transform: scale(1.02);
    border-radius: 5%;
	opacity: 1;
}
#movies div img,#anime div img,#series div img{
	position: relative;
	height: 75%;
	width: 95%;
	left: 7px;
    padding-top: 0px;
    border-radius: 5%;
    transition: .350ms;
	margin-bottom: 10px;
	opacity: .9;
}
#movies div a.addFav,#anime div a.addFav,#series div a.addFav{
	position: absolute;
	width: 89%;
	left: 17px;
	/* background-color: rgba(169, 169, 169, 0.205); */
	transition: all 0.3 ease-in-out;
	opacity:0 ;
	cursor: pointer;
	text-align: center;	
	bottom: 106px;
	font-size: 90px;
	color: red;
}
#movies div  a.addFav:hover,#anime div  a.addFav:hover,#series div  a.addFav:hover{ 
	border-radius: 5% !important;
	opacity: .7 !important;
	padding: 0px !important;
	text-decoration: none;
}

#movies div .myP,#anime div .myP,#series div .myP{
	color: whitesmoke;
	font-size: 27px !important;
	/* font-family: Arial, Helvetica, sans-serif;	 */
	/* font-family: 'Bitter', serif; */
	font-family: 'Poiret One', cursive;
	padding: 0;
	opacity: 1;
	word-spacing: 0px;
} 

#movies div p,#anime div p,#series div p{
	padding-top: 4px;
	color: whitesmoke;
	font-size: 20px;
	text-align: center;
	font-family: 'Poiret One', cursive;
	opacity: .7;
	text-transform: capitalize;
} 

@keyframes change { 
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
