 @import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Dancing+Script:wght@600&display=swap');

*{
  box-sizing:border-box;
  margin: 0;
  

}


body{
  
  /* position:absolute;
  /* margin:0; */
   background: rgb(201, 169, 202) !important; 
  background-color: rgba(0, 0, 0, 0.842); 
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXcKo6pBXnCPLouVo50sp0rLy5v9tQw6BcJM9mlL1yPKsTXoYL8Q0UVaOV6cF-M22-eBo&usqp=CAU');
 background-repeat:no-repeat ;
 width: 100%;
 height: 100%; */ 
/* 
	margin: 0; */
	
		 /* background: rgb(36,15,73) !important; 
	 	background: linear-gradient(90deg, rgba(36,15,73,1) 35%, rgba(75,27,97,1) 75%, rgba(110,54,135,1) 100%) !important;  */
		margin: 0 !important;
  }


p{
  color:blanchedalmond;
  font-family:unset;
font-size: 80px;
text-decoration: none;

}


header{

  /* background-color: rgb(228, 192, 192); */
  color: whitesmoke;

  margin-bottom: 15px;



}

#parent{
  /* width: 100%; */
  
  display: inline-block;
  
}
.box4{
  display: inline-block;
}
.box.img{
  border-radius:100px;
}

.box2 img{
  /* margin-right: 10px; */
  height: 600px;
  width: 300px !important;

animation-name: example;
animation-duration: 4s;
animation-direction: reverse;

}

.box2{
  width: 30%;
  display: inline-block !important;
 

animation-name: example;
animation-duration: 4s;
animation-direction: reverse;
}


.box2:hover {
	/* Start the shake animation and make the animation last for 0.5 seconds */
	animation: shake 0.5s;

	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
  transform: rotate(20deg);

}

  
  @keyframes shake {
	0% { transform: translate(1px, 1px) rotate(-1deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(-3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


/* header h1{
  font-size: 60px;
  font-family: 'Coda Caption', sans-serif;
  font-family: 'Dancing Script', cursive;
  position: relative;
  top: 55px;
  left: 90px;
  display: inline;


}




#nav-header ul li {
  display: inline-block;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  
  
}

#nav-header ul{
  text-align: center;

}

#nav-header ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: whitesmoke;
  font-family: 'Coda Caption', sans-serif;
  position: relative;
  top: -15px;
 
}

#nav-header ul li a:hover {
 color: red;
}  */
/* finish header css*/


/* #nav-header ul li:first-child {
  
  background-color: whitesmoke;
  float: right;
  padding: 20px;
  position: relative;
  top: -18px;
  right: 10px;
} */

/* Slideshow container */
.slideshow-container {
  max-width: 500px !important;
  position: relative;
  margin: 0;
}

.slideshow-container img{
  width: 500px !important;
  height: 600px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  /* transform: skewY(2deg); */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





#boxes{
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdTQHfkEq0bK-yHMbgZSgDk4JMC1fNnxITrg&usqp=CAU');
  margin-top: 40px;
  width: 100%;
 /* background-repeat: no-repeat; */
  text-align: center;

cursor: pointer;
  outline: none;
  color: #fff;
  background-color:rgb(228, 44, 44);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px whitesmoke;
top: 70px;
margin-bottom: 5px;
}
#boxes:hover{
	 background-color:rgb(223, 151, 151); 
	 box-shadow: 0 0 10px palevioletred, 0 0 40px palevioletred, 0 0 80px palevioletred;

}


#box-mid .box{
  display: inline-block;
  width: 25%;
  padding: 10px; 


  
}
/* .box img{
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:rgb(228, 44, 44);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px whitesmoke;
top: 70px;

} */

.box img{
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:rgb(228, 44, 44);
  border: none;
  border-radius: 15px;
  box-shadow: 9px 9px 9px whitesmoke;
bottom:  70px;


}

.box img:hover
{
         
	 background-color:rgb(223, 151, 151); 
	 box-shadow: 0 0 10px palevioletred, 0 0 40px palevioletred, 0 0 80px palevioletred;
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}



@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

footer{
  background-color: rgb(17, 16, 16);
  
}

footer #nav-footer ul li a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
  
  
} 


footer #nav-footer ul li  .logo-icon{
  position: relative;
  right: -900px;
  
}

footer #nav-footer ul li .logo-icon img:hover{

  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  color: #717171;
  
 
}

footer #nav-footer ul li .logo-icon #twt{
  border-width: 2px ;
  border-radius: 5px;
}

#contact{
  color: whitesmoke;
  position: relative;
  top:50px;

}
#contact li{
 line-height: 25px;
 list-style: none;
 
}

#contact span{
  font-size: 25px;
  color: whitesmoke;
}


footer #nav-footer ul li{
  display: inline-block;
  padding: 20px;
} 



footer p {
  
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
  font-family: 'Coda Caption', sans-serif;
  font-family: 'Dancing Script', cursive;
  padding: 20px;
 }
 

